@model WebAppNET5.Models.Cliente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GuardarCliente</title>
</head>
<body>
    <fieldset>
        <legend>Cliente Guardado</legend>
        @* <b>@ViewBag.Nome</b>
        <b>@ViewData["Email"]</b> *@
        <div>
            <label for="ClienteId">Id</label>
        </div>
        <div>
            <input type="text" value="@Model.ClienteId" id="ClienteId" name="ClienteId" />
        </div>
        <div>
            <label for="Nome">Nome</label>
        </div>
        <div>
            <input type="text" value="@Model.Nome" id="Nome" name="Nome" />
        </div>
        <div>
            <label for="Email">Email</label>
        </div>
        <div>
            <input type="text" value="@Model.Email" id="Email" name="Email" />
        </div>
        <div>
            <label for="Telefone">Telefone</label>
        </div>
        <div>
            <input type="text" value="@Model.Telefone" id="Telefone" name="Telefone" />
        </div>

        
    </fieldset>
</body>
</html>
